.announcement-bar {
  width: 100%;
  padding: 8px 0;
}
.announcement-bar .inner-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.announcement-bar p {
  margin: 0;
  text-align: center;
  width: calc(100% - 123px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announcement-bar a:active,
.announcement-bar a:hover,
.announcement-bar a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 6px 20px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
