{#
/**
 * @file
 * Profile notify bar block.
 *
 * Available variables
 * - message: Notify bar message.
 * - btnUrl: Button link.
 * - btnText: Button text.
 */
#}
<div class="notify-bar--block announcement-bar" style="background-color: {{ background }}; color: {{ color }}">
  <div class="inner-block">
  {% if message %}
    {{ message|raw}}
  {% endif %}
  {% if btnUrl != blank and btnText != blank  %}
    <a href="{{btnUrl}}" class="notify-btn button button--primary">{{ btnText }}</a>
  {% endif %}
  </div>
</div>
